     <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AsereElectric | Servicios eléctricos</title>

    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="page-wrapper">

        <!--header top-->
        <div class="header-top">
            <div class="container clearfix">
                <div class="logo">
                    <figure>
                        <a href="index.html"><img src="images/logo_v1.png" alt="" width="150"></a>
                    </figure>
                </div>
                <ul class="contact-links">
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Discover St, New York, NY 10012, USA</li>
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>Mon - Sat 9.00 - 18.00</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>+251-235-3256</li>
                </ul>
            </div>
        </div>
        <!--header top-->


        <!--Main Header-->
        <header class="main-header sticky-header">
            <div class="container">
                <div class="header-area clearfix">
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="/">Inicio</a></li>
                                <li><a href="/nosotros">Quienes Somos</a></li>
                                <li><a href="/servicios">Servicios</a>
                                </li>
                                <li><a href="/portafolio">Portafolio</a>
                                </li>
                                <li><a href="/articulos">Artículos</a>
                                </li>
                                <li><a href="/contacto">Contáctanos</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!--End Main Header -->
{{content}}
     <!--main-footer-->
        <footer class="main-footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="about-widget">
                                <div class="footer-logo">
                                    <figure>
                                        <a href="/"><img src="images/logo_v1.png" width="150" alt=""></a>
                                    </figure>
                                </div>
                                <p>Nuestro enfoque principal se orienta con el objetivo de nuestros clientes, brindando
                                    siempre atención y compromiso,
                                    ejecutando nuestras actividades con altos estándares de calidad, cumpliendo con
                                    normativas nacionales e internacionales.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="menu-link">
                                <h6>Enlaces</h6>
                                <ul>
                                    <li><a href="/nosotros"><i class="fa fa-angle-right" aria-hidden="true"></i>Nuestra
                                            Historia</a></li>

                                    <li><a href="/contacto"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i>Contáctanos</a>
                                    </li>
                                    <li><a href="/servicios"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i>Servicios</a>
                                    </li>
                                    <li><a href="/blog"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="contact-links">
                                <h6>Contáctanos</h6>
                                <p>¿Tienes problemas con tu sistema eléctrico en tu empresa?</p>
                                <ul class="location-info">
                                    <li><strong>Address:</strong>&nbsp;&nbsp;&nbsp; 1201 park street, Avenue, <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Dhanmondy, Dhaka.</li>
                                    <li><strong>Phone: </strong>&nbsp;&nbsp; [88] 657 524 332</li>
                                    <li><strong>Email: </strong>&nbsp; <a href="#">info@electric.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="newsletter-cloumn">
                                <h6>Aprende con nosotros</h6>
                                <p>Creamos contenido útil. Nada de spam.</p>
                                <form id="contact-form" name="contact_form" class="default-form" action="sendmail.php"
                                    method="post">
                                    <input type="email" name="email" placeholder="Correo electronico" required="">
                                    <button type="submit" class="btn-style-one">subcríbete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container clearfix">
                    <div class="copyright-text">
                        <p><a href="index.html">AsereElectric</a> &copy; 2021 All Right Reserved</p>
                    </div>
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!--End main-footer-->
    </div>

    <!--End pagewrapper-->


    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".header-top"><span class="icon fa fa-angle-up"></span>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.fancybox-media.js"></script>
    <script src="js/html5lightbox.js"></script>
    <script src="js/masterslider/masterslider.js"></script>

    <!-- revolution slider js -->
    <script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <script src="js/owl.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/validate.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/script.js"></script>
</body>

</html>